.cursor {
  cursor: pointer;
}

.pic{
  width: 40px;
  border-radius: 20px;
  margin-right: 10px;
}

.online{
  position: absolute;
  bottom: 10px;
  left: 45px;
}

.messagebox {
  height: 300px;
  overflow: auto;
}

.clearfix {
  margin-bottom: 5px;
}

.message {
  padding: 5px;
  border-radius: 5px;
  color: #fff;
}

.message div:last-child{
  text-align: right;
}

.messageLeft {
  float: left;
}

.messageRight {
  float: right;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey;
  border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #959696;
  border-radius: 2px;
}
